langchain
langchain-google-genai
langchain_community
dotenv
langchain_core
GitPython
chromadb
langchainhub
langchain-text-splitters
langchain-huggingface
langchain-chroma
sentence-transformers
streamlit